<!DOCTYPE html>
<html>
<head>
<script
    src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
</head>
<body>
    <div ng-app="" ng-controller="personController">
        <p>The name is {{ lastName | uppercase }}</p>
        <p>The name is {{ lastName | lowercase }}</p>
        <input type="number" ng-model="quantity">
        <input type="number" ng-model="price">
        <p>Total = {{ (quantity * price) | currency : "won" }}</p>        
    </div>
    <script src="personController.js"></script>
</body>
</html>
